:root {
    --bg-color: #f9f9f9;
    --text-color: #333;
    --header-bg-color: #e2e2e2;
    --nav-bg-color: #333;
    --nav-text-color: white;
    --nav-hover-bg-color: #555;
    --nav-active-border-color: #47794a;
    --link-color: #47794a;
    --link-visited-color: #47794a;
    --button-bg-color: #47794a;
    --button-text-color: white;
    --button-hover-bg-color: #47794a;
    --button-focus-outline-color: #47794a;
}

[data-theme="dark"] {
    --bg-color: #333;
    --text-color: #f9f9f9;
    --header-bg-color: #555;
    --nav-bg-color: #222;
    --nav-text-color: white;
    --nav-hover-bg-color: #444;
    --nav-active-border-color: #559559;
    --link-color: #559559;
    --link-visited-color: #559559;
    --button-bg-color: #559559;
    --button-text-color: white;
    --button-hover-bg-color: #559559;
    --button-focus-outline-color: #559559;
}

a {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover,
a:focus {
    color: var(--link-hover-color);
}

a:visited {
    color: var(--link-visited-color);
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--header-bg-color);
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
}

h3 {
    margin-top: 1.5em;
}

header h1 {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .25em;
}

header span {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: .25em;
    margin-top: 0.5em;
}

header img {
    border-radius: 50%;
    width: 8em;
    height: 8em;
    margin-bottom: 1em;
}

nav {
    background-color: var(--nav-bg-color);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0;
}

nav ul li button {
    background: none;
    border: none;
    color: var(--nav-text-color);
    padding: 1em;
    display: block;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, border-bottom 0.3s;
    border-bottom: 3px solid transparent;
}

nav ul li button:hover,
nav ul li button:focus,
nav ul li button.active {
    background-color: var(--nav-hover-bg-color);
    border-bottom: 3px solid var(--nav-active-border-color);
}

nav ul li button:focus {
    outline: 3px solid var(--nav-active-border-color);
}

main {
    padding: 2em;
    max-width: 800px;
    margin: 0 auto;
}

section {
    display: none;
    margin-top: 2em;
}

section:target {
    display: block;
}

#aboutThisSite {
    display: block;
}

/* Resume Nav */

#resume nav {
    margin-bottom: 1em;
    background-color: var(--bg-color);
}

#resume nav ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 0;
}

#resume nav ul li {
    display: inline;
    margin-right: 1em;
    padding: 0.5em 0;
}

#resume nav ul li a {
    color: var(--link-color);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s, color 0.3s;
    padding: 0.5em 1em;
    border-radius: 3px;
}

#resume nav ul li a:hover,
#resume nav ul li a:focus {
    border-bottom: 2px solid var(--nav-active-border-color);
    color: var(--text-color);
}

#resume nav ul li a:visited {
    color: var(--link-visited-color);
}

/* Contact Info CSS */

.contact-info {
    font-size: 1.2em;
    line-height: 1.8;
}

.contact-info .icon {
    margin-right: 0.5em;
    font-size: 1.2em;
    vertical-align: middle;
    display: inline-block;
}

.contact-info .contact-detail {
    font-weight: bold;
}

/* Back to Top CSS */

#backToTop {
    position: fixed;
    bottom: 1em;
    right: 1em;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 0.5em 1em;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.5em;
    display: none;
    transition: background-color 0.3s;
}

#backToTop:hover,
#backToTop:focus {
    background-color: var(--button-hover-bg-color);
}

#backToTop:focus {
    outline: 3px solid var(--button-focus-outline-color);
}

body.scrolled #backToTop {
    display: block;
}

/* Theme Toggle CSS */

#themeToggle {
    position: fixed;
    top: 1em;
    right: 1em;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 0.5em 1em;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

#themeToggle:hover,
#themeToggle:focus {
    background-color: var(--button-hover-bg-color);
}

#themeToggle:focus {
    outline: 3px solid var(--button-focus-outline-color);
}
